@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    scrollbar-color:  #00A28E  gray ;
}

@layer components {
    .title {
        @apply text-[36px]  font-semibold
    }

    p {
        letter-spacing: 1px;
    }

    .card{
        @apply shadow-sm w-fit rounded-lg p-5
    }

    .card-sublabel {
        @apply text-[15px] font-light
    }

    .card-data{
        @apply text-[32px] font-bold;

       
    }

    .card-data::nth-letter(2){
        color:black
    }
   
}

